<%-include('layout/header.ejs') %>
<div class="container my-3">
       <% if (message) { %>
            <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
             <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
             <strong><%= message.message %></strong>
            </div>
       <% } %>
        
             <% if (issue != '') { %>
                <table class="table table-striped mt-5">
                    <thead>
                        <tr class="table-dark">
                            <th>Project Name</th>
                            <th>Issue Title</th>
                            <th>Issue Description</th>
                            <th>Labels</th>
                            <th>Author</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% project.forEach((row,index) => { %>
                            <% row.Issue.forEach(element => { %>
                                <tr class="align-middle">
                                    <td><%= row.name %></td>
                                    <td><%=element.Title %></td>
                                    <td><%=element.Description%></td>
                                    <td>
                                        <% element.Labels.forEach(lable => { %>
                                           <li><%= lable %></li>
                                        <% }) %>
                                     
                                    </td>
                                    <td><%= element.Author %></td>
                                </tr>
                            <% }) %>
                           

                        <% }) %>
                       
                    </tbody>
    
                </table>
             <% } else { %>
                
                <h1 class="text-center text-secondary mt-5">No Issue</h1>
            <%  } %>
        </div>
      





<%-include('layout/footer.ejs')%>
    
