<%-include('layout/header.ejs') %>

       <% if (message) { %>
            <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
             <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
             <strong><%= message.message %></strong>
            </div>
       <% } %>
        
             <% if (issue != '') { %>
                <table class="table table-striped my-3">
                    <thead>
                        <tr class="table-dark">
                            <th>ID</th>
                            <th>Project Name</th>
                            <th>Description</th>
                            <th>Author</th>
                            <th>Create Issue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% issue.forEach((row,index) => { %>
                            <tr class="align-middle">
                                <td><%= index+1  %></td>
                                <td><%= row.name %></td>
                                <td><%= row.Description %></td>
                                <td><%= row.Author %></td>
                                <td  style="display: flex;justify-content:center">
                                    <a href="/edit/<%= row.id %>" class="text-sucess">
                                        <i class="fas fa-edit fa-lg mx-1">
        
                                        </i>
        
                                    </a>
                                </td>
                            </tr>

                        <% }) %>
                       
                    </tbody>
    
                </table>
             <% } else { %>
                
                <h1 class="text-center text-secondary mt-5">No Issue</h1>
            <%  } %>
          
      





<%-include('layout/footer.ejs')%>
    
